@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, "sans-serif";
}

a {
  text-decoration: none;
}

.link:hover {
  color: rgb(139, 134, 134);
}

li {
  list-style-type: none;
}

.hero {
  background-color: #1f2937;
}

.hero-img {
  background-image: url(images/stussy.jpg);

  height: 300px;
  width: 500px;
  background-size: contain;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.nav {
  width: 80%;
  display: flex;
  padding: 16px;
  margin: 0 auto;
}

.logo img {
  height: 100px;
  width: 150px;
}

.nav-links {
  width: 400px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  color: #e5e7eb;
  margin-left: auto;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 50px 70px;
}

.hero-text {
  width: 500px;

  margin-top: 28px;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
}

.hero-text button {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  background-color: #3882f6;
  height: 35px;
  width: 110px;
  padding: 4px;
  border: none;
  border-radius: 4px;
}

.hero-text button:hover {
  border: 2px solid #eff0f3;
  background-color: #6f89bb;
}

.mid-section {
  margin-top: 50px;
  width: 100%;
  padding: 40px;
}

.mid-section h2 {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}

.items {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 40px;
  flex-wrap: wrap;
}

.item {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.327);
  border-radius: 3px;
  background-size: cover;
  margin-top: 50px;
}

.item-1 {
  background-image: url(images/birkenstock.jpg);
}

.item-2 {
  background-image: url(images/Dunks.jpg);
}

.item-3 {
  background-image: url(images/sweater.jpg);
}

.item-name {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.item-price {
  text-align: center;
}

.quote-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: #e5e7eb;
  gap: 5px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 250;
}

.author {
  font-size: 22px;
  margin-left: auto;
}

.cta {
  margin-top: 50px;
  padding: 100px;
  color: #eff0f3;
}

.cta-content {
  background-color: #3882f6;
  padding: 50px;
  display: flex;
  gap: 50px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.cta-text {
  width: 72%;
}

.cta-text h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.cta-text p {
  width: 72%;
}

.cta-content button {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  background-color: #3882f6;
  height: 35px;
  width: 110px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  border: 2px solid #eff0f3;
}

footer {
  color: #ecf0e8;
  font-size: 14px;
  background-color: #1f2937;
  padding: 20px 0px;
  text-align: center;
}
